* {
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
}

header {
    background-color: #4ea674;
    color: white;
}
.titulo-menu {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.encabezado-redes {
    background-color: rgb(240, 233, 233);
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: flex-start;
    gap: 7px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li {
    margin: 10px;
    font-size: 1.5rem;
}
a {
    color: white;
    text-decoration: none;
}
.buscador {
    text-align: right;
}
footer {
    background-color: rgb(240, 233, 233);
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer a {
    color: #4ea674;
}
.pie-redes {
    padding-top: 10px;
}
/* sacar esto para que las img de redes queden bien */
img {
    width: 18px;
    height: auto;
}
.articulos-inicio {
    display: flex;
    flex-direction: row;
    padding: 10px;
}