* {
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
}

header {
    background-color: white;
    color: rgb(32, 31, 31);
}
body {
    background-color: #fcfdfd;
}
/*
.titulo-menu {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
*/

/* Linea encabezado para redes*/
.encabezado-redes {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: flex-start;
    gap: 7px;
}

/* Encabezado */
.encacabezado-contenedor {
    width: 100%;
}
.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.menu-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.barra-navegacion {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.header-inicio .barra-navegacion {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    
h1 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
}
.menu {
    font-family: "special-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}
.menu-negro {
    color: black !important;
}
.dropdown-toggle::after {
    border: none !important;
    content: "" !important;
}
.icono-australia {
   align-items: center;
}
.encabezado-contenedor label {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
}

/* Barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li {
    margin: 0px 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;;
}
a {
    text-decoration: none;
    color: black;
}
.header-inicio a{
    color: #493f34;
}
.link-boton {
    border: none;
    background-color: transparent;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.link-boton:hover,
.link-boton:focus {
  background-color: black;
  color: white;
}
.boton-active {
    color: white;
    background-color: black;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
}
.titulo-mobile {
    display: none; /* OCULTO en desktop */
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* estilos generales 
h2*/
h2 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    margin: 50px 0px 0px 30px;
}

/* Página Index
Body foto portada pág Index */

.portada p {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: black;
    margin: 20px 0px 0px 30px
}
.portada img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
h3 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}
.articulos-inicio h4 {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}
.articulos-inicio p {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.articulos-inicio .ver-mas {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}
.foto-340 {
    height: 340px;
}
.lastsection-inicio {
    background-color: lightgrey;
    color: black;
}
h5 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.mi-foto {
    width: 200px;
    height: 200px;
}
.mi-historia-inicio{
   /* display: flex;
    background-color: lightgrey;*/
    margin: 20px 300px 50px 300px;
    gap: 30px;
    /*align-items: center;
   padding: 20px;*/
}

/*Página contacto*/
.mi-historia {
    display: flex;
    gap: 30px;
    margin: 10px 200px 50px 200px;
    align-items: center;
}
.email-contenedor {
    margin: 10px 200px 30px 200px;
    font-size: 1.5rem;
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contacto-contenedor h3 {
    margin-left: 198px;
}
.contacto-contenedor {
    background-color: lightgrey;
    padding-top: 15px;
    padding-bottom: 5px;
}
.portada-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-ultimo-articulo {
    max-width: 740px;
}
.card-ultimo-articulo img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
    
/* Página Galeria de fotos */
.titulo-galeria h3{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
}
.titulo-galeria p {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: black;
    margin: 10px 100px 10px 100px
}
.titulo-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titulo-galeria img {
    width: 20px;
    height: 20px;
}
.galeria-fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.grid-xestados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1.7fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "nsw-fotos nsw-fotos nsw-fotos"
    "qld-fotos qld-fotos qld-fotos"
    "vic-fotos vic-fotos vic-fotos"
    "sa-fotos sa-fotos sa-fotos"
    "nt-fotos nt-fotos nt-fotos"
    "wa-fotos wa-fotos wa-fotos"
    "tas-fotos tas-fotos tas-fotos";
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
} 
.nsw-fotos {
    grid-area: nsw-fotos;
}
.qld-fotos {
    grid-area: qld-fotos;
}
.vic-fotos {
    grid-area: vic-fotos;
}
.sa-fotos {
    grid-area: sa-fotos;
}
.nt-fotos {
    grid-area: nt-fotos;
}
.wa-fotos {
    grid-area: wa-fotos;
}
.tas-fotos {
    grid-area: tas-fotos;
}
.grid-xestados img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    margin: 10px;
}
.galeria-fotos h4 {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
/*Pag Guia*/
.articles-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex-articles img {
    width:250px;
    height: auto;
}
.articulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.articulo-reverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card-guia img {
    height: 400px;
}

/*Pag Blog*/
.body-blog {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: 
    "body-blog-izquierda body-blog-derecha";
    gap: 20px;
}
.body-blog-derecha .card {
    width: 30rem
}
/* Footer */
.footer-contenedor {
    width: 100%;
    margin-top: 25px;
    margin-top: 10px;
}
.footer-inicio .barra-navegacion {
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Diseño Mobile Responsive */
@media (max-width: 768px) {
    .top-bar {
      display: none;
    }
    .barra-navegacion {
        display: flex;
        flex-direction: column;
    }

    /* Index */
   .portada {
    margin: 0px;
   }
   .portada img {
    width: 100%;
    height: auto;
    object-fit: cover;
   }
   .portada h2{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 10px;
   }
   .portada p {
    font-size: 1rem;
    margin: 0px;
   }
  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-img-overlay {
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 140%;
    pointer-events: none;
    margin-left: 0px;
  }
  .articulos-inicio .card-body {
    border-bottom: 1px solid lightgray;
  }
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
  }
  .card-text {
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
  }
  .articulos-inicio p {
    font-size: 1rem;
    text-align: justify;
  }
  h3 {
    font-size: 1rem;
    margin-top: 15px;
  }
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .mi-historia-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
    gap: 5px;
    }
    .mi-historia-inicio p {
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;

    }
    .mi-historia-inicio img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;

    }
    .mi-historia-inicio h5 {
        font-size: 1rem;
        text-align: center;
        margin-top: -15px;
    }
    .card-title {
        margin-top: 0;
    }
/* Guia de mochilera */
    .hprincipal-guia h2 {
        font-size: 1.5rem;
        margin: 0;
    }
    .hprincipal-guia p {
        font-size: 1.2rem;
        margin: 2rem;
        text-align: justify;
    }
    .card-guia img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .card-guia .card-body h5 {
        font-size: 1.2rem;
        line-height: 2;
    }
    .card-guia p {
        font-size: 1rem;
    }
    .articulo-reverse,
    .articulo {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .flex-articles img {
        width: 100%;
        max-width: 300px; /* O el tamaño que quieras */
        height: auto;
    }
    .titulo-txt {
        margin: 1rem; /* Más chico en mobile */
    }
    .texto-articulo {
        font-size: 1rem;
        margin: 0px;
        padding: 0;
        text-align: justify;
    }
    .titulo-articulo {
        line-height: 2;
    }
    /*Blog de Viajes */
    .titulo-blog {
        font-size: 1.5rem;
        margin: 10px;
    }
    .card-ultimo-articulo img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-ultimo-articulo h5 {
        font-size: 1.5rem;
        line-height: 2;
    }
    .card-ultimo-articulo p {
        text-align: justify;
    }
    .body-blog {
        display: block;
    }
    .body-blog img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .body-blog-derecha {
        margin: 0;
        padding: 1rem;
    }
    .body-blog-derecha .card {
        width: 100%;
    }
    .body-blog-izquierda h5 {
        font-size: 1.5rem;
        line-height: 2;
    }
    .body-blog-izquierda p {
        text-align: justify;
        font-size: 1rem;
    }

    /* Galeria de fotos */
    h2 {
        font-size: 1.5rem;
        margin: 0;
        line-height: 2;
    }
    .titulo-galeria h3 {
        font-size: 1.5rem;
        margin: 0;
        line-height: 2;
    }
    .titulo-galeria p {
        font-size: 1rem;
        text-align: justify;
        margin: 0px 15px 15px 15px;
    }

    .grid-xestados {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1.7fr);
        grid-template-areas: none;
        width: 100%;
        margin-left: 0px;
        padding: 10px;
      }
    .grid-xestados img {
        width: 100%;
        height: 90px;
        object-fit: cover;
        margin: 0px;
      }
    .grid-xestados h4 {
        display: none;
      }
    .grid-xestados > div {
        display: contents;
      }
    .galeria-fotos {
        margin: 0px 0px 0px 0px;
    }

    /* Contacto */
    .contacto-contenedor {
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacto-contenedor h3 {
        font-size: 1.5rem;
        margin: 10px;
        padding: 0px;
    }
    .email-contenedor {
        font-size: 1rem;
        margin: 10px;
        padding: 0px;
        width: 90%;
    }
    .mi-historia {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 10px;
        gap: 0px;
    }
    .mi-historia img {
        border-radius: 50% !important;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .mi-historia p {
        font-size: 1rem;
        padding: 0px;
        text-align: justify;
    }
}