@use '../base/typography';
@use '../utilities/mixins';
@use '../utilities/variables';

h2 {
    @include mixins.titulos (2rem, 0);
}
.carrusel-principal {
    h5 { @include mixins.titulos (1.2rem, 0px);}
    p { @include mixins.parrafos (1.2rem, 0);}
}
.titulo-galeria {
    @include mixins.flexbox (center, center, column, 10px);
    h3 { @include mixins.titulos (1.5rem, 0px);}
     p { @include mixins.parrafos (1rem, 10px 100px 10px 100px);}
    img { width: 20px;
    height: 20px;}
}
.galeria-fotos {
    //@include mixins.flexbox (center, center, row, 10px);
    h4 { @include mixins.parrafos (1rem, 0px);
        text-align: center;}
}

// @each para galeria de fotos
  .grid-xestados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1.7fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "nsw-fotos nsw-fotos nsw-fotos"
    "qld-fotos qld-fotos qld-fotos"
    "vic-fotos vic-fotos vic-fotos"
    "sa-fotos sa-fotos sa-fotos"
    "nt-fotos nt-fotos nt-fotos"
    "wa-fotos wa-fotos wa-fotos"
    "tas-fotos tas-fotos tas-fotos";
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
 }
$estados: (
    nsw: nsw-fotos,
    qld: qld-fotos,
    vic: vic-fotos,
    sa: sa-fotos,
    nt: nt-fotos,
    wa: wa-fotos,
    tas: tas-fotos
  );

@each $clave, $area in $estados {
    .#{$area} {
      grid-area: #{$area};
    }
}

.grid-xestados img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    margin: 10px;
} 

// Mobile Responsive
@media (max-width: 768px) {
    h2, 
    .titulo-galeria h3 {
        @include mixins.titulos (1rem, 10px);
        line-height: 1.5;
    }
    .titulo-galeria p {
        @include mixins.parrafos (1rem, 0px 15px 15px 15px);
    }
    .grid-xestados {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1.7fr);
        grid-template-areas:
        "nsw-fotos nsw-fotos nsw-fotos"
        "qld-fotos qld-fotos qld-fotos"
        "vic-fotos vic-fotos vic-fotos"
        "sa-fotos sa-fotos sa-fotos"
        "nt-fotos nt-fotos nt-fotos"
        "wa-fotos wa-fotos wa-fotos"
        "tas-fotos tas-fotos tas-fotos";
        width: 100%;
        margin-left: 0px;
        padding: 10px;
      }
    .grid-xestados img {
        width: 100%;
        height: 90px;
        object-fit: cover;
        margin: 0px;
    }
    .grid-xestados h4 {
        display: none;
      }
    .grid-xestados > div {
        display: contents;
      }
    .galeria-fotos {
        margin: 0px 0px 0px 0px;
    } 
}
