// General
$bg-principal: #fcfdfd;
$tipografia-principal: 'Boldonse', system-ui;
$tipografia-secundaria: 'Special Gothic', sans-serif;
$color-black: black;

// Header 
$bg-header: white;
$color-header: rgb(32, 31, 31);

// Bordes cards
$border-grey: lightgrey;
