@use '../utilities/mixins';
@use '../utilities/variables';
@use '../components/buttons';

.footer-contenedor {
    width: 100%;
    padding: 10px;
    color: variables.$color-black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }

.footer-img {
    @include mixins.flexbox (center, center, row, 20px);
    a { display: inline-block;}
    img { width: 30px;
        height:30px;}
    .instagram {
        &:hover { animation: pulse 1s;}}
    .tiktok {
        &:hover { animation: pulse 1s;}}
    }


// Mobile Responsive
@media (max-width: 768px) {
  .footer-img {
      img { width:20px;
        height: 20px;}
    }
}
 