@use '../utilities/mixins';
@use '../utilities/variables';
@use '../components/buttons';
@use '../base/typography';

.encabezado-contenedor {
    width: 100%;
}
.top-bar {
    @include mixins.flexbox (space-between, center, row, 1rem);
    flex-wrap: wrap;
    padding: 1rem 2rem;
}
.menu-contenedor {
    @include mixins.flexbox (space-between, flex-start, column, 0);
    form {
        @include mixins.flexbox (center, flex-start, column, 0.5rem);
      }
    @include mixins.parrafos (1.5rem, 0px);
}
.buscar input {
    max-width: 150px;
  }

.barra-navegacion {
    @include mixins.flexbox (center, center, row, 2rem);
    border-top: 1px solid variables.$color-black;
    border-bottom: 1px solid variables.$color-black;
}

.menu-contenedor {
    @include mixins.parrafos (1.7rem, 0);
    text-transform: uppercase;
}

.dropdown-toggle::after {
    border: none !important;
    content: "" !important;
}

.icono-australia {
    align-items: center;
}

.redes {
    @include mixins.flexbox (center, center, row, 0px);
    a { 
        display: inline-block;
        margin: 10px;
        img { 
            width: 30px;
            height: 30px;
        }
    }
            .instagram {
                &:hover { 
                    animation: pulse 1s;
                }
            }
            .tiktok {
                &:hover { 
                    animation: pulse 1s;
                }
            }
}


// Animate.css
.link-boton {
    @include buttons.boton-estilo (black, transparent, 8px 16px);
    &:hover { 
        animation: pulse 1s;
    }
}
// nav
nav ul {
    list-style: none;
    @include mixins.flexbox (space-between, center, row, 0);
    li { 
        @include mixins.parrafos (1rem, 0px 3rem);
        text-transform: uppercase;
    }
}
a {
    color: variables.$color-black;
}
.header-inicio a {
    color: #493f34;
}
.link-boton {
    @include buttons.boton-estilo (black, transparent, 8px 16px);
}
.boton-active {
    @include buttons.boton-estilo-active;
}
  

// Mobile Responsive
@media (max-width: 768px) {
    .top-bar {
        display: none;
    }
    .barra-navegacion .container-fluid {
     @include mixins.flexbox (space-between, center, row, 25px);
     a { 
        @include mixins.parrafos (1rem, 0);
        text-align: start;
        text-transform: uppercase;
        white-space: nowrap;
    }
    }
    .titulo-mobile {
        display: none; // oculto en desktop
        @include mixins.titulos (1rem, 0px 0px 0px 10px);
        text-align: left;
        white-space: nowrap;
    }
    nav ul {
        li {
            @include mixins.parrafos (1rem, 0px);
            text-transform: uppercase;
        }
    }
}

  