@use "../utilities/variables";
@use "../utilities/mixins";
.titulo h1 {
    @include mixins.titulos (5rem, 0px);
    white-space: nowrap;
}
h2 {
    @include mixins.titulos (2rem, 50px 0px 0px 30px);
}
h3 {
    @include mixins.titulos (2rem, 0px);
}
p {
    @include mixins.parrafos (2rem, 0px)
}
.ver-mas {
    @include mixins.parrafos (0.8rem, 0);
    text-decoration: underline;
    color: rgb(51, 50, 50);
}
